<mat-toolbar class="header" color="primary" role="heading">
  <div class="header-content">
    <span class="header-title">Spell Card Editor</span>
    <span class="fill"></span>
    <span class="header-buttons">
      <button mat-raised-button color="accent" class="new-card" (click)="createNewCard()">New Card</button>
      <button mat-raised-button color="accent" routerLink="/collection">Collection</button>
      <button mat-icon-button  routerLink="/print"><mat-icon>print</mat-icon></button>
      <button mat-icon-button (click)="exportCardData()"><mat-icon>cloud_download</mat-icon></button>

      <input style="display: none" type="file" (change)="importCardData($event)" #fileInput>
      <button mat-icon-button (click)="fileInput.click()"><mat-icon>cloud_upload</mat-icon></button>
  </span>
  </div>
</mat-toolbar>
