.page {
  background-color: white;
  page-break-after: always;
  width: 210mm;
  height: 297mm;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*align-content: center;*/
  flex-direction: row;

  border-bottom-color: gray;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

app-spell-card-detail {
  margin: auto;
}

@page {
  margin: 0;
  padding: 0;
}

@media print {
   .page {
      border-bottom-style: none;
      width: 100%;
   }
}
