.mat-table {
    width: 100%;
}

.tag-form-field {
    width: 100%;
}

.mat-chip {
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    min-height: 24px;
    border-radius: 12px;
}

.edit-button {
  width: 0.5em;
}

.filter {
    width: 33%;
    float: right;
    margin: 0 2.5%;
}
