<div class="card-editor-container">
  <form>
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" [(ngModel)]="selectedCard.name" name="title">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Card Size</mat-label>
        <mat-select 
          [(ngModel)]="selectedCard.cardSizeType"
          (ngModelChange)="cardSizeChanged()"
          name="cardSizeType">
          <mat-option value="card-size-poker">Poker</mat-option>
          <mat-option value="card-size-tarot">Tarot</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="full-width">
          <span [innerHtml]="highlightText" class="hightlight-container"></span>
          <textarea
            matInput
            placeholder="Layout"
            [(ngModel)]="selectedCard.layoutText"
            (ngModelChange)="cardLayoutChange()"
            name="layoutText"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"></textarea>
          </mat-form-field>

      <div class="full-width">
          <label>Background Color: </label>
          <bytelabs-color-selector  [(color)]="selectedCard.borderColor"></bytelabs-color-selector>
      </div>

      <mat-form-field class="full-width">
        <mat-chip-list #tagList>
          <mat-chip *ngFor="let tag of selectedCard.tags; let i = index" (removed)="removeTag(i)">
            {{tag}}
            <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
        </mat-chip-list>
        <input placeholder="Tags"
            [matChipInputFor]="tagList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTag($event)">
    </mat-form-field>
  </form>
  <app-spell-card-detail [card]="selectedCard"></app-spell-card-detail>
</div>
<div class="delete-card-container">
    <button mat-raised-button color="accent" (click)="goBack()">Save</button>
    <span class="fill"></span>
    <button mat-raised-button color="warn" (click)="deleteCard()">Delete Card</button>
</div>
