.card-editor-container {
  margin: 1em auto;
  width: 80%;
  display: flex;
}

form {
  margin: 0 1em;
  width: 30em;
}

app-spell-card-detail {
  margin: 0 1em;
}

label {
  font-size: 16px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.mat-input-element {
  color: black;
}

.delete-card-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
}
