.card-editor-container {
  margin: 0 auto;
  width: 100%;
}

form {
  margin: 0 1em;
  width: 30em;
}

app-spell-card-detail {
  margin: 0 1em;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.mat-input-element {
  color: black;
}
