<div class="card-size-poker">
  <div class="background-border" [ngStyle]="{'background-color': card.borderColor.hex}">
    <div class="background">
      <div class="content-container" insert-container>
        <div class="title">{{ card.name }}</div>
        <div class="sub-title">{{ card.subTitle }}</div>
        <ul class="properties-container">
          <li *ngFor="let property of card.properties" class="card-properties">
            <div><b class="property-name">{{property.name}}</b>{{property.value}}</div>
          </li>
        </ul>
        <pre class="card-text">{{ card.content }}</pre>
        <div *ngIf="card.atHigherLevel" class="at-higher-levels-container">
          <div class="at-higher-levels">Higher Levels</div>
          <div class="line-break"></div>
          <div class="card-text">{{ card.atHigherLevel }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
