/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

.fill {
    flex-grow: 1;
}

.card-size-poker {
	width: 63.50mm;
  height: 88.9mm;
}

.insert-element {
  display: none;
}

/* TUTORIAL STUFF */
h1
{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3
{
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body, input[type="text"], button
{
    color: #888;
}
